
body {
    font-family: sans-serif;
}

nav {
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
}

li a {
    color: #2a6ff3;
    display: block;
    padding: 16px 8px;
    text-decoration: none;
}

li a.active {
    background-color: #2a6ff3;
    color: white;
}

li a:hover:not(.active) {
    background-color: #adf;
    color: white;
}



.page {
    margin-left:25%;
}

.section {
    padding: 0px 24px;
}

.section-header {
    background-color: #e6e6e6;
    
}

section > h1 {
    padding: 40px 0px;
    font-size: 2em;

}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: black;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
}

  

tbody > tr:hover:not(.active) {
    background-color: #adf;
    color: white;
}
tfoot {
    background-color: #e6e6e6;
}